body{
    background-image: url("fond_ecran_cadeaux.jpg");
}
.container{
    margin-top: 5%;
}
.description {
    margin-left: 5%;
    width: 40%;
    height: 40%;
    float: left;
    border-style : solid;
    background-color: #f04a4a;
}
.connexion {
    height: 40%;
    margin-left: 55%;
    margin-right: 5%;
    border-style : solid;
    background-color: #f04a4a;
}



header {
    overflow: hidden;
    background-color: #b44747;
    padding: 1% 1%;
}
header a {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 18px; 
    line-height: 2%;
    border-radius: 1%;
}
.header-liens {
    width: 50%;
    margin-left: 6%;
    display : inline-block;
}
.header-droite{
    float: right;
}
.header-liens ul{
    display: table;
    background:-webkit-linear-gradient(#720000, #4e0101);
    background:linear-gradient(#720000, #4e0101);
    padding: 0;
}
.header-liens ul li{
    display: table-cell;
}
.header-liens a{
    padding: 8px 8px 17px 8px;
    color:#fff;
}
.header-liens li:hover a{
    color:#000;
}








.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #E53935;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}
.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}
.button:hover span {
    padding-right: 25px;
}
.button:hover span:after {
    opacity: 1;
    right: 0;
}



.affichage_cadeau{
    width: 100%;
    background-color: #dbaca6e0;
    padding: 1% 1%;
}
.affichage_cadeau .titre_liste{
    background-color: #af847e;
    text-align: center;
}
.affichage_cadeau td,.affichage_cadeau th{
    width: 25%;
    text-align: left;
    border: 1px solid black;
}
.affichage_cadeau td img{
    max-width: 25%;
    max-height: auto;
}



#menu_param, #menu_param ul{
padding:0;
margin:0;
list-style:none;
text-align:center;
}
#menu_param li{
display:inline-block;
position:relative;
}
#menu_param ul li{
display:inherit;
}
#menu_param ul{
position:absolute;
z-index: 1000;
max-height:0;
left: 0;
right: 0;
overflow:hidden;
-moz-transition: .8s all .3s;
-webkit-transition: .8s all .3s;
transition: .8s all .3s;
}
#menu_param li:hover ul{
max-height:15em;
}
/* background des liens menus */
#menu_param li:first-child{
background-color: #720000;
background-image:-webkit-linear-gradient(top, #720000 0%, #4e0101 100%);
background-image:linear-gradient(to bottom, #720000 0%, #4e0101 100%);
}
/* background des liens sous menus */
#menu_param li:first-child li{
background:#4e0101;
}
/* background des liens menus et sous menus au survol */
#menu_param li:first-child:hover, #menu_param li:first-child li:hover{
background:#720000;
}
/* les a href */
#menu_param a{
text-decoration:none;
display:block;
padding:8px 32px;
color:#fff;
font-family:arial;
}
#menu_param ul a{
padding:8px 0;
}
#menu_param li:hover li a{
color:#fff;
text-transform:inherit;
}
#menu_param li:hover a, #menu_param li li:hover a{
color:#000;
}

.icobutton img {
    width: 40px;
    border-radius: 2px;
    padding: 2px;
    margin-top: 4px;
}