body{
    background-image: url("fond_ecran_cadeaux.jpg");
}
.container{
    margin-top: 5%;
}
.description {
    margin-left: 5%;
    width: 40%;
    height: 40%;
    float: left;
    border-style : solid;
    background-color: #f04a4a;
}
.connexion {
    height: 40%;
    margin-left: 55%;
    margin-right: 5%;
    border-style : solid;
    background-color: #f04a4a;
}

header {
    overflow: hidden;
    background-color: #049e5c;
    padding: 1% 1%;
}
header a {
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 18px; 
    line-height: 2%;
    border-radius: 1%;
}
.header-liens {
    width: 50%;
    margin-left: 6%;
    display : inline-block;
}
.header-droite{
    float: right;
}
